@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');

:root {
    --primary-color: #967bb6;       
    --accent-color: #b19cd9;        
    --bg-color: #f3eff5;            
    --text-color: #4a3b52;          
    --white: #ffffff;
    --shadow: 0 10px 30px rgba(150, 123, 182, 0.2); 
    --hover-bg: #8467a9;
}

/*=====================================================================*/
/*sekcja główna*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Domine", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;

    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.6;
    background-image: url('img/tlo.jpg');
    background-size: cover;
    background-attachment: center ;
    background-repeat: no-repeat;

}

header {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 0px 0px 10px 0px;
    text-align: center;
    position: top;
    width: 100%;
    margin-bottom: 10px;
   
}

header h1 {
    margin: 0;
    padding: 10px 0;
    font-size: 3.5em;
    letter-spacing: 1px;
    text-transform: uppercase;
}

nav {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 10px 0;
    text-align: center;
    position: sticky;
    top: 0;
    background-color: rgba(150, 123, 182, 0.9); 
    backdrop-filter: blur(5px);
}

nav a {
    text-decoration: none;
    background-color: var(--accent-color);
    color: var(--white);
    padding: 12px 25px;
    margin: 0 5px;
    font-size: 100%;
    font-weight: 600;
    border-radius: 20px;
    transition: all 0.3s ease;
    border: 1px solid transparent;
    
}



nav a:hover {
    color: var(--white);
    background-color: var(--a-hoover-bg);
    transform: translateY(-3px);
}



main {
    padding: 40px;
    margin-top: 0 auto;
    background-color: var(--white);
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: var(--shadow);
    flex: 1;
    margin-right: 10%;
    margin-left: 10%;
    min-height: 500px;
    justify-content: center;
}

footer {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 10px 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 100;
    backdrop-filter: blur(2px);
    font-size: 0.8rem;
}

footer strong {
    color: var(--white);
}

footer a {
    color:var(--footer-text);
    text-decoration: none;
}

li {
    margin-bottom: 10px;
}
ul{
    padding-left: 20px;
}
nav li {
    display: inline-block;
    margin: 0 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav img {
    width: 15%;
    height: 15%;
    vertical-align: middle;
    margin-right: 10px;
    margin-bottom: 0.2em;;
}
